/* ===================================================================================
* 
*	18)Blog
*
* ==================================================================================== */

#template-klb-blog {
    padding: 7em 0;
    padding-bottom: 0;
}

@media screen and (max-width: 769px) {
#template-klb-blog {
padding: 5em 0;
}
}

.blog-img{
    margin-bottom:20px;
}
.blog-img img{
    max-width:100%;
    height:auto;
}

.blog-content h3{
	text-transform:uppercase;
	margin-bottom: 5px;
	font-weight:bold;
}

ul.blog-socials{
    list-style:none;
    padding: 0;
	text-align: center;
    margin-bottom: 20px;
}

ul.blog-socials li{
    display:inline-block;
    margin-right: 30px;
}

ul.blog-socials i{
    margin-right: 10px;
}

.blog-item h1{
	text-transform:capitalize;
	color:#000;
    margin-bottom: 28px;
    margin-top: 0;
    font-size: 22px;
}

.blog-item ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

#template-klb-blog {
    position: relative;
    min-height: 700px;
    background: #f7f7f7;
    font-size: 16px;
    line-height: 30px;
    font-family: "Lora", serif;
    color: #222;
}

[class^="col-md-"].klbcol {
    padding-left: 15px;
    padding-right: 15px;
}

#template-klb-blog h3 {
color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

#template-klb-blog .section-heading h2 {
color: #000;
}

.blog-content a{
	text-decoration: none;
	text-transform: capitalize;
	position:relative;
    font-size: 16px;
    line-height: 30px;
    font-family: "Lora", serif;
    color: #222;
}


.blog-comments ul{
    list-style: none;
    padding: 0;
}


.blog-comments h4{
display:inline-block;
    margin-right: 30px;
}

.comment-list-comment-image {display: inline-block;float:left;}

.comment-list-header {
    margin-bottom: 5px;
}
.comment-list-header h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.comment-right {
    padding-left: 110px;
}

.comment-list-header span{
margin-right:15px;
}

ul.child{
    padding-left: 60px;
}


/**/
.blogitems {
    background-color: #f7f7f7;
    margin-bottom: 3em;
}

.blog-comments li{
	background-color:#E8F1F2;
	padding:0px 10px;
	text-align:justify;
	border-radius:15px;
}

/*sidebar*/
.blog-item {
    margin-bottom: 35px;
}

.sidebar .blog-item:last-child {
    margin-bottom: 0;
}

.sidebar {
    padding-top: 20px;
}

.blog-item h1{
	position:relative;
	display:inline-block;
	color:#13293D!important;
}

.blog-item h1:after {
    content: '';
    clear: both;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    height: 1px;
    background: #ffd504;
}

.blog-item ul li:before{
	content:"\24";
	left:0;
	display: inline-block;
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	padding-right:5px;
	color: #ffd504;
    position: absolute;
    left: 0;
    top: 8px;
}
.blog-item ul li:hover{
    transition: all 0.6s ease 0s;
}

.blog-item ul li a {
    font-size: 16px;
    line-height: 30px;
    font-family: "Lora", serif;
    color: #222;
}

.tagcloud:before, .tagcloud:after{
	content:'';
    display:table;
    clear:both;
}

.tagcloud a {
    padding: 3px 7px;
    margin-bottom: 3px;
    margin-right: 3px;
    background: #ffd504;
    text-decoration: none;
    font-size: 13px !important;
    color: #ffffff;
    transition: all 0.6s ease 0s;
    text-transform: lowercase;
    border: 1px solid #ffd504;
    letter-spacing: 1px;
    border-radius: 0;
    float: left;
}

.tagcloud a:hover {
    border: 1px solid #ffd504;
    transition: all 0.6s ease 0s;
    color: #13293D;
    background: transparent;
}

.sidebar .blog-item:last-child {
    margin-bottom: 50px;
}
/* parallax */
#parallax-11{
	background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    padding:73px 0 142px;

}
/*button*/
.read-more {
    text-align: center;
    margin-bottom: 47px;
}
.read-more a {
	padding: 12px 10px 10px;
	color: #006494;
	text-shadow: none;
	
	text-decoration:none;
	position:relative;
}

.read-more a::before,
.read-more a::after {
	position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #006494;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
}

.read-more a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.read-more a:hover::before,
.read-more a:hover::after,
.read-more a:focus::before,
.read-more a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.read-more a:hover::after,
.read-more a:focus::after {
	top: 0%;
	opacity: 1;
}		

.read-more a:hover,.read-more a:active,.read-more a:focus {
    color: #006494;
    outline: none;
}

/*footer*/

#footer {
    padding: 50px 0;
    color: #7f7f7f;
    background: #E8F1F2;
	margin-top:0!important;
}
@media screen and (max-width: 992px) {
	#parallax-1 {
		padding: 110px 0 110px
	}
	 #template-explore img {
	  margin-bottom: 40px;
  }
}
/*Comment*/
h4.comments-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

li.comment-area {
    padding: 25px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffd504;
}

ul.children {
    padding-left: 49px;
}


@media screen and (max-width: 480px) {
#blog-post-comments .media-list  ul.children {
    padding-left: 10px;
}
}

.media-list ul.children {
    list-style: none;
}

a.comment-reply-link {
    text-decoration: none;
    font-size: inherit;
    color: #222;
    padding-right: 10px;
}
.comment-reply-title a{
	text-decoration:none;
	color:#006494;
	font-size:inherit;
}

.blog-item select {
    border: 1px solid rgba(34, 34, 34, 0.21);
    padding-left: 10px;
}

.comment-form textarea{
	margin-bottom: 0;
	padding:10px;
    border: 1px solid rgba(34, 34, 34, 0.21);
}

.comment-form input {
	padding:10px;
    border: 1px solid rgba(34, 34, 34, 0.21);
}

.comment-form p {
    margin-bottom: 5px;
}

p.comment-notes,
p.logged-in-as {
    text-align: left;
    margin-bottom: 15px;
}

.comment-respond h3#reply-title {
	text-align:left;
}

.comment-form input[type=submit] {
    border: 2px solid #F0C808;
    color: #fff;
    background: #F0C808;
    text-transform: uppercase;
    padding: 3px 10px;
	transition: all 0.6s ease 0s;
}

.comment-respond label {
    display: none;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}


#template-klb-blog .klb-post h1, #template-klb-blog .klb-post h2, #template-klb-blog .klb-post h3, #template-klb-blog .klb-post h4,
 #template-klb-blog .klb-post h5, #template-klb-blog .klb-post h6 {
    margin-bottom: 10px;
    line-height: 140%;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

#template-klb-blog .klb-post h1 {
  font-size: 38.5px;
}

#template-klb-blog .klb-post h2 {
  font-size: 31.5px;
  padding-bottom:initial;
}

#template-klb-blog .klb-post h3 {
  font-size: 24.5px;
  text-transform: initial;
  text-align:left;
  font-weight: 300;
}

#template-klb-blog .klb-post h4 {
  font-size: 17.5px;
}

#template-klb-blog .klb-post h5 {
  font-size: 14px;
}

#template-klb-blog .klb-post h6 {
  font-size: 11.9px;
}


table {
max-width: 100%;
background-color: transparent;
}

th {
    text-align: left;
    padding-right: 0px;
    padding-bottom: 5px;
    padding: 3px;
    border: 1px solid #e5e5e5;
}

td{
padding: 5px;
border: 1px solid #e5e5e5;
text-align: left;
}

dt {
    font-weight: bold;
}

dt, dd {
    line-height: 20px;
}

dd {
    margin-left: 10px;
}

abbr, tla, acronym {
    text-decoration: underline;
    cursor: help;
}

ins {
    background-color: rgba(254,255,0,0.68);
    text-decoration: none;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

form select,
select {
    width: 100%;
}

.alignright img {
	float: right;
	margin: 0 0 1em 1em
}
.alignleft img {
	float: left;
	margin: 0 1em 1em 0
}
.aligncenter img {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.alignright {
	float: right;
    margin: 0 0 1em 1em
}
.alignleft {
	float: left;
	margin: 0 1em 1em 0
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}


.size-full {
}
.size-large {
}
.size-medium {
}
.size-thumbnail {
}
.gallery-caption {
}
.bypostauthor {
}


.textarea_half {
 max-width:500px;
}

.wp-caption img {
max-width: 100%;
height: auto;
}
.sticky {

}

p>img {
max-width: 100%;
height: auto;
}

.wp-caption {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    width: auto !important;
    padding: 20px;
}

.wp-caption p.wp-caption-text {
	width: auto !important;
	line-height: 1.5;
	font-size: 11px;
	padding: 3px 0;
	margin: 0px 0 0 0;
	background: #f6f6f6;
	display: block;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}

.blog-item ul.children {
    padding-left: 0;
}
.blog-item ul.sub-menu{
	padding-left:0;
}
.blog-item ul li {
    transition: all 0.6s ease 0s;
	font-size: 15px;
    position:relative;
    padding-left: 20px;
}

blockquote {
    border-left: 5px solid #ffd504;
    font-size: 14px;
}

.klb-post ul {
    padding-left: 20px;
    list-style-type: circle;
}

.klb-post ol {
    padding-left: 20px;
    list-style-type: decimal;
}

.klb-post a {
    color: #000;
}


a.rsswidget {
    color: #000;
}


ul.media-list a {
    color: #000;
    text-decoration: underline;
}

.page .klb-post {
    padding-top: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

ul.blog-socials li {
    display: inline-block;
    margin-right: 10px;
}

ul.blog-socials i {
    margin-right: 5px;
    font-size: 13px;
}

.btnread{
    display: inline-block;
    width: auto;
    cursor: pointer;
    position: relative;
    border: 0;
    text-align: center !important;
    background: #ffd435;
    color: #fff!important;
    margin: 23px 0px;
    text-decoration: none;
    padding: 12px 36px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}


.pagination > .active > a {
    background-color: #ffd504;
    border-color: #ffd504;
}
.pagination > .active > a:hover {
    background-color: #dd1c1a;
    border-color: #dd1c1a;
}

.blog-head {
    text-align: center;
    margin-bottom: 55px;
}

.input-group-btn .btn{
	height:34px;
}

.blog-content a.carousel-control {
    position: absolute;
}

h1.assistive-text {
    text-align: center;
}

form.post-password-form p label  {
	display:block;
}

form.post-password-form p label input  {
    border: 1px solid rgba(34, 34, 34, 0.21);
}

.post-password-form input[type="submit"] {
    width: auto;
    cursor: pointer;
    position: relative;
    border: 0;
    text-align: center !important;
    background: #ffd435;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 6px 36px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    margin-top: 5px;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}

.comment-navigation a {
    color: #000;
    font-weight: bold;
}

p.logged-in-as a {
    color: #000;
}